body {
  background-color: #F4F1ED;
  font-family: Arial, Helvetica, sans-serif;

  .content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    
    .dialogue {
      display: flex;
      margin-top: 10px;

      .dialogue-container {
        border: 2px solid black;
      }

      .room-title {
        margin-top: 15px;
        text-transform: uppercase;
        
        width: 100%;
        font-size: calc(min(1.95vw, 25px));
        letter-spacing: 0.035em;
    
        transform: scale(1, 1.15);
        -webkit-transform: scale(1, 1.15); /* Safari and Chrome */
        -moz-transform: scale(1, 1.15); /* Firefox */
        -ms-transform: scale(1, 1.15); /* IE 9+ */
        -o-transform: scale(1, 1.15); /* Opera */
      }

      #room-info, #room-prompt {
        margin: auto;
        text-align: justify;  /* For Edge */
        width: 85%;
        letter-spacing: 0.035em;
        font-size: calc(min(.8vw, 10px));

        transform: scale(0.95, 1);
        -webkit-transform: scale(0.95, 1); /* Safari and Chrome */
        -moz-transform: scale(0.95, 1); /* Firefox */
        -ms-transform: scale(0.95, 1); /* IE 9+ */
        -o-transform: scale(0.95, 1); /* Opera */
      }

      #room-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      } 

      .links-container {
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        button:hover, .selected-link {
          background-color: black;
          color: #F4F1ED;
        }
      }

      .column-one {
        width: 18%;
        padding-right: 10px;

          #map-icon {
            width: 24.75%;
            margin-left: 13%;
            margin-right: 10%;
          }
    
          #site-info-icon {
            width: 38.5%;
            margin-right: 10%;
          }

          .icon {
            margin-top: 12%; 
            margin-bottom: 10%;
          }

          .icon:hover {
            background-color: black;
          }
        }
      }
      
      .column-two {
        padding-right: 10px;
      }

      #column-two-no-button {
        width: 26%;
      }

      #column-three-no-button {
        width: 56%;

        #links-container-no-button {
          height: 100%;
          display: flex;
          justify-content: space-between;
          
        }
      }

      #dialog-right-with-button {
        width: 83%;

        #row-one-with-button {
          width: 100%;
          margin-bottom: 10px;

          #behind-door-container {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;

            #behind-door-text {
                display: contents;
                font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
                text-transform: uppercase;
                transform: scale(1.1, 1);
                -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
                -moz-transform: scale(1.1, 1); /* Firefox */
                -ms-transform: scale(1.1, 1); /* IE 9+ */
                -o-transform: scale(1.1, 1); /* Opera */
              }
            }
        }

        #dialog-bottom-with-button {
          display: flex;
          height: 100%;
  
          #column-two-with-button {
            width: 31.7%;
            height: 65.5%;
          }
          
          #column-three-with-button {
            width: 68.3%;
    
            #links-container-with-button {
              height: 65.5%;
            }
          }
        }
      }
  }
}
