#password-prompt-content {
    padding: 2vw;
    overflow: hidden;
    letter-spacing: 0.02em;
    font-size: .85vw;

    #password-prompt-cover-image-container {
        flex: 0 0 100%;

        #password-prompt-cover-image {
            width: 100%;
            overflow: hidden;
        }
    }

    #password-prompt-container {
        margin-top: 2vw;
        display: flex;
        


        #password-prompt-blurb {
            width: 47.5%;
            text-align: justify;  /* For Edge */
            margin-right: 2vw;
        }

        #password-prompt-middle {
            margin-right: 2vw;
            width: 37.5%;
            font-size: .82vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #password-prompt-question {
                width: 100%;
                text-align: justify;  /* For Edge */
                text-align-last: justify;
            }

            #password-input {
                width: 98%;
                background-color: #F4F1ED;    
                border: none;
                border-bottom: black solid 1px;
                font-size: .85vw;
                margin-top: -1vh;
            }

            textarea:focus, input:focus{
                outline: none;
            }

            #password-prompt-hint {
                background-color: black;
                font-size: .85vw;
                border: black solid 1.5px;
                outline: none;
                color: #F4F1ED;   
                text-align: justify;  /* For Edge */
                width: 100%;
                text-align-last: justify;                    
            }

            .password-prompt-hint-playing {
                text-align: center !important;
                text-align-last: center !important;
            }

            #password-prompt-hint:hover {
                color: black;
                background-color: #F4F1ED;   
            }
        }

        #password-prompt-submit {
            width: 10%;
            outline: none;
            background-color: black;
        }

        .submit-password-enabled {
            color: #F4F1ED;   
            background-color: black;
            outline: none;
            border: none;
        }

        .submit-password-enabled:hover {
            width: 10%;
            color: black;
            background-color: #F4F1ED !important;
            outline: black solid 1.5px !important;  
        }
    }

}