#rec-room-title {
    letter-spacing: 0.075em;
    text-align: justify; /* For Edge */
    text-align-last: justify;
}

#rec-room-link-column{
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 79%;

    #rec-room-link-group-container {
        border: 1px solid black;
        width: 100%;
        text-align: center;
        height: 80%;
        letter-spacing: 0.035em;
        font-size: calc(min(.8vw, 10px));
        display: flex;
        flex-wrap: wrap;


        #rec-room-link-row1 {
            padding: 3px 3px 1.5px;
            flex: 0 0 100%;


            #rec-room-link-container {
                height: 90%;
                width: 95%;
                border: 1px solid black;
                justify-content: center;
                align-items: center;
                display: flex;
                text-align: center;
            }
        }

        #rec-room-link-row2 {
            padding: 1.5px 3px 3px;
            flex: 0 0 100%;


            #rec-room-link-container {
                height: 90%;
                width: 95%;
                border: 1px solid black;
                justify-content: center;
                align-items: center;
                display: flex;
                text-align: center;
            }
        }
    }

    #rec-room-link-group-title-row {
        width: 100%;
        margin-top: 2.5px;

        #rec-room-link-group-title-text {
            text-transform: uppercase;
            letter-spacing: 0.035em;
            font-size: calc(min(.8vw, 10px));

            transform: scale(1, 1.1);
            -webkit-transform: scale(1, 1.1); /* Safari and Chrome */
            -moz-transform: scale(1, 1.1); /* Firefox */
            -ms-transform: scale(1, 1.1); /* IE 9+ */
            -o-transform: scale(1, 1.1); /* Opera */
        }

    }
}
