#rec-room-title {
    letter-spacing: 0.075em;
    text-align: justify; /* For Edge */
    text-align-last: justify;
}

#rec-room-link-text {
    font-size: calc(min(.8vw, 10px));
}

#rec-room-link-column{
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 79%;

    #rec-room-link-group-container {
        border: 1px solid black;
        text-align: center;
        letter-spacing: 0.035em;
        padding-bottom: 3px;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        #rec-room-link-container {
            border: 1px solid black;
            display: flex;
            margin: 3px 3px 0px;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
    }

    #rec-room-link-group-title-row {
        width: 100%;
        margin-top: 2.5px;

        #rec-room-link-group-title-text {
            text-transform: uppercase;
            letter-spacing: 0.035em;
            font-size: calc(min(.8vw, 10px));

            transform: scale(1, 1.1);
            -webkit-transform: scale(1, 1.1); /* Safari and Chrome */
            -moz-transform: scale(1, 1.1); /* Firefox */
            -ms-transform: scale(1, 1.1); /* IE 9+ */
            -o-transform: scale(1, 1.1); /* Opera */
        }

    }
}
