#mail-room-title {
    text-align: justify; /* For Edge */
    text-align-last: justify;
}

#mail-room-links-container{
    padding-right: 5px;
}

.mail-room-link-container{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;

    text-align: center;
    width: 50%;
    height: 90%;

    letter-spacing: 0.035em;
    font-size: calc(min(.8vw, 10px));
}

#mail-room-link {
    margin: 5px 0px 5px 5px;
}